{% extends "auctions/layout.html" %}

{% block title %}Category Listings{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="mb-4 text-center">{{ category.name }} Category list</h2>
        <hr class="mb-4">
        <div class="container d-flex justify-content-center align-items-center gap-2 mb-4">
            <h6 class="mb-0">Select a category here:</h6>
            <select class="form-select w-50" onchange="window.location=this.value">
                <option selected disabled>Filter by category</option>
                {% for cat in categories %}
                    <option value="{% url 'category_listings' cat.id %}" {% if cat == category %}selected{% endif %}>{{ cat.name }}</option>
                {% endfor %}
            </select>
        </div>

        {% if listings %}
            <div class="row">
                {% for listing in listings %}
                    <div class="col-md-4 mb-4 d-flex">
                        <div class="card card-hover w-100 position-relative">
                            <img src="{{ listing.image_url }}" class="card-img-top" alt="{{ listing.title }}">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">{{ listing.title }}</h5>
                                <p class="card-text">Price: ${{ listing.price }}</p>
                                <p class="text-muted"><i class="fas fa-clock"></i> {{ listing.created_at }}</p>
                                {% if listing.end_time %}
                                    {% if listing.is_expired %}
                                        <p class="text-danger"><i class="fa fa-hour glass-end"></i> Ended at: {{ listing.end_time }}</p>
                                    {% else %}
                                        <p class="text-muted"><i class="fa fa-hourglass-half"></i> Ends at: {{ listing.end_time }}</p>
                                    {% endif %}
                                {% endif %}
                                <a href="{% url 'listing' listing.id %}" class="btn btn-primary mt-auto stretched-link">View Listing</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center text-info">No active listings in this category.</p>
        {% endif %}

    </div>
{% endblock %}