{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-4 text-center">Active Listings</h2>
        {% if user.is_authenticated %}
        <a href="{% url 'create_listing' %}" class="btn btn-sm btn-outline-primary">
            <i class="bi bi-plus-lg"></i> Add New Listing
        </a>
        {% endif %}
    </div>

    <hr class="mb-4">
    <div class="row">
        {% for list in listings %}
            <div class="col-md-4 mb-4 d-flex">
                <div class="card card-hover w-100 position-relative">
                    {% if list.image_url %}
                        <img src="{{ list.image_url }}" class="card-img-top" alt="{{ list.title }}">
                    {% else %}
                        <img src="{% static "images/no-image.jpg" %}" class="card-img-top" alt="No image available">
                    {% endif %}
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ list.title }}</h5>
                        <!-- <p class="card-text">{{ list.description }}</p> -->
                        <p class="card-text">Price: ${{ list.price }}</p>
                        <p class="text-muted"><i class="fas fa-clock"></i> {{ list.created_at }}</p>
                        {% if list.end_time %}
                            {% if list.is_expired %}
                                <p class="text-danger"><i class="fa fa-hourglass-end"></i> Ended at: {{ list.end_time }}</p>
                            {% else %}
                                <p class="text-muted"><i class="fa fa-hourglass-half"></i> Ends at: {{ list.end_time }}</p>
                            {% endif %}
                        {% endif %}
                        <a href="{% url 'listing' list.id %}" class="btn btn-primary mt-auto stretched-link">View Listing</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    </div>
{% endblock %}